.sidebar {
  width: 300px;
  margin-right: 30px;
  border: 2px dashed #fe5d42;
  border-radius: 30px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.left {
  display: flex;
  align-items: center;
  color: #fe5d42;
}

.left svg {
  font-size: 1.3rem;
  margin-right: 8px;
}

.row p {
  margin: 0;
  font-weight: 600;
}

.row span {
  color: gray;
  font-weight: bold;
}

.sidebar button {
  width: 100%;
  margin-top: 30px;
  background-color: #fe5d42;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar button:hover {
  background-color: #ff714f;
}
