:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
body {
  margin: auto;
  max-width: 1200px;
  background-color: #f9fafc;
  padding: 10px;
  min-height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
color: inherit;
text-decoration: inherit;
}
